[user]
    email = 8carlosf@gmail.com
    name = carlosf
    signingkey = ~/.ssh/id_ed25519.pub
[merge]
    tool = meld
[diff]
    tool = vimdiff
[push]
	default = current
[core]
    editor = vim
[color]
    ui = true
[alias]
    st = status
    cm = commit -v
    acm = commit -av
    a = add
    ps = push
    psu = push -u
    pl = pull
    co = checkout
    br = branch
    unstage = reset HEAD --
    last = log -1 HEAD
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
[status]
    submodulesummary = true    
[github]
    user = 8carlosf
[init]
	templateDir = ~/.git-template
[gpg]
	format = ssh
